* {
  font-size: 24px;
  font-family: Space Mono;
  font-weight: 500;
  padding: 5px 8px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: bold;
}

.imagen {
  margin-right: 40px;
}


img {
  width: 500px;
  height: 500px;
}

.font-title {
  color: #333333;
  font-size: 80px;
  font-weight: bold;     
}

.font-paragrahp {
  text-align: left;
  font-size: 25px;
  width: 400px;
}

.button {
  background-color: #4F4F4F;
  color: #fff;
  margin-top: 15px;
  margin-left: 10px;
  padding: 17px 17px;
  font-size: 15px;
}

@media screen and (max-width: 415px) {

  * {
      font-size: 18px;
      font-family: Space Mono;
      font-weight: 0;
      padding: 0 !important;
  }

  .title {
      padding: 8px !important;
  }

  .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  img {
      order: 1;
      width: 200px;
      height: 200px;
      
  }
    
  .imagen {
      margin-right: 0px;
  }
    
  .font-title {
      color: #333333;
      font-size: 38px;
      font-weight: bold;     
      width: 320px;
      order: 2;
  }
    
  .font-paragrahp {
      font-size: 15px;
      width: 300px;
      order: 3;
  }
    
  .button {
      font-size: 10px;
      padding: 20px !important;
      margin-left: 0px;
      width: 58%;
      order: 4;
  }
}